DEBUG=False
USE_WEBHOOK=False

# * Telegram
TOKEN=
ADMIN_GROUP_ID=

# * Telegram Webhook
WEB_SERVER_HOST=127.0.0.1
WEB_SERVER_PORT=8080
WEBHOOK_PATH=/webhook/
WEBHOOK_SECRET=
BASE_WEBHOOK_URL=https://webhooks.mikemka.ru/

# * Database
DB_URL=sqlite://db.sqlite3
# DB_URL=asyncpg://user:@localhost:5432/santa

# * Registration

REGISTRATION_START_DATE=2025-12-05T00:00:00
REGISTRATION_END_DATE=2025-12-11T08:00:00

# * Texts
TEXT_START=Привет, <b>{user}</b> 👋\n\nЭто бот для регистрации в игре <b>Тайный Санта</b> в СУНЦ УрФУ. 🎅\n📅 Игра будет проходить <b>с 10 декабря и до конца зимней сессии</b>.\nВ дату начала игры каждому участнику станет известен его подопечный, которому в указанный период  он должен будет подарить что-нибудь приятное на Новый год\nА также, у каждого участника будет свой собственный Тайный Санта, который порадует его подарком. 🎁\n\n<b>🎊 Правила игры 🎊</b>\n\n💸 Бюджет подарка — от 200 до 500 рублей\n\n🎄 <b>Каждый</b> участник <b>обязательно</b> должен получить подарок.\nЕсли вы не получили подарок — напишите мне (@lakrech), будем разбираться\n🙂 Стараемся не дарить ничего, что может кого-то оскорбить, расстроить или просто нарушить законы РФ
TEXT_REGISTRATION_CLOSED=⏰ Регистрация на мероприятие закрыта!
TEXT_START_REGISTRATION=🥳 Начать регистрацию
TEXT_ENTER_NAME=Введите ваше имя
TEXT_ENTER_SURNAME=Имя: {user.name}\nВведите вашу фамилию
TEXT_ENTER_ADDITIONAL_INFO=Имя: {user.name}\nФамилия: {user.surname}\n\nВведите номер класса в формате "10А"
TEXT_REGISTRATION_END=Имя: {user.name}\nФамилия: {user.surname}\nНомер класса: {user.additional_info}
TEXT_SEND_REGISTRATION_DATA=✅ Отправить на проверку
TEXT_CANCEL_REGISTRATION=❌ Заполнить заново
TEXT_REGISTRATION_CANCELLED=❌ Регистрация отменена. Ваш аккаунт удален. Чтобы пройти регистрацию заново, воспользуйтесь /start
TEXT_PROCESSING_REGISTRATION=🔄 Регистрация в процессе обработки. Ожидайте одобрения модератора.
TEXT_REGISTRATION_CONFIRMED=Вы успешно зарегистрированы на Тайного Санту в СУНЦ УрФУ ✅\n\nНапомним правила:\n💸 Бюджет подарка — от 200 до 500 рублей\n🎄 <b>Каждый</b> участник <b>обязательно</b> должен получить подарок.\nЕсли вы не получили подарок — напишите мне (@lakrech), будем разбираться\n🙂 Стараемся не дарить ничего, что может кого-то оскорбить, расстроить или просто нарушить законы РФ
TEXT_REGISTRATION_REJECTED=К сожалению, ваша заявка на участие в Тайном Санте СУНЦ УрФУ отклонена❌\n\nБольшая просьба указать настоящее имя и класс, иначе администраторы игры не смогут помочь вам в случае нарушения правил игры :(\n\nПопробуйте повторно зарегистрироваться через команду /start

TEXT_MODERATION_NEW_USER=Зарегистрирован новый аккаунт:\n
TEXT_MODERATION_USER_DATA=Имя: {user.name}\nФамилия: {user.surname}\nНомер класса: {user.additional_info}\n\n<a href="tg://user?id={user.tg_id}">@{user.tg_username} {user.tg_first_name} {user.tg_last_name} {user.tg_id}</a>
TEXT_MODERATION_CONFIRM=✅ Одобрить
TEXT_MODERATION_REJECT=❌ Отклонить
TEXT_MODERATION_CONFIRMED=✅ Заявка одобрена
TEXT_MODERATION_REJECTED=❌ Заявка отклонена

TEXT_ADMIN_START=/start_event - Перемешать юзеров, разослать уведомления и запустить мероприятие\n\n/stop_event - ПОЛНОСТЬЮ ОСТАНОВИТЬ мероприятие, разослать всем юзерам, кто у них был\n\n/get_db - Вытащить базу пользователей (html)\n\n/add_user - Добавить подтвержденный аккаунт\n\n/del_user - Снести аккаунт пользователю (опасно!)\n\n/count_users - Краткая статистика

TEXT_USER_TESTING_MESSAGE=Вы еще с нами? Мероприятие начинается прямо сейчас!

TEXT_ADMIN_START_EVENT_USERS_DELETED=🔍 Удалено {n} пользователей (неактивны)
TEXT_ADMIN_START_EVENT_USERS_SHUFFLED=🔍 Пользователи перемешаны
TEXT_ADMIN_START_EVENT_USERS_SET=🔍 Пользователи назначены
TEXT_ADMIN_START_EVENT_USERS_NOTIFIED=🔍 Отправлена рассылка о начале мероприятия\n\nЭпик запуск

TEXT_ADMIN_STOP_EVENT_USERS_NOTIFIED=Юзеры удалены, прошла рассылка, ивент закрыт

TEXT_EVENT_STARTED=Игра началась!🤩\n\nПары распределены, ваш подопечный <span class="tg-spoiler">{user.name} {user.surname} {user.additional_info}</span> 🎄\n\n🤖Команды для общения с ботом 🤖\n\n💬 /send_santa — отправить сообщение своему Тайному Санте\n💬 /send_recipient — отправить сообщение своему подопечному\n💬 /cancel - отменить действие\n\nУзнайте у своего подопечного его пожелания, а также напишите вашему Санте свои!
TEXT_EVENT_STOPPED=Игра окончена, подарки вручены, пора раскрыть главную интригу🤭\n\n*барабанная дробь*🥁\n\nВашим Тайным Сантой был <span class="tg-spoiler">{user.name} {user.surname} {user.additional_info}</span> 🎁🎅\n\nВсем новогоднего настроения и хороших праздников!

TEXT_SANTA_BITCH=Ваш тайный санта заблокировал бота!\n\nИмя: {user.name}\nФамилия: {user.surname}\nНомер класса: {user.additional_info}
TEXT_RECIPIENT_BITCH=Ваш подопечный заблокировал бота, оставь подарок себе!\n\nИмя: {user.name}\nФамилия: {user.surname}\nНомер класса: {user.additional_info}

TEXT_MESSAGE_TO_SANTA=📝 Отправьте сообщение своему Санте или воспользуйтесь /cancel\n\nТолько текст!
TEXT_MESSAGE_TO_RECIPIENT=📝 Отправьте сообщение своему подопечному или воспользуйтесь /cancel\n\nТолько текст!
TEXT_MESSAGE_FROM_SANTA=Ваш Тайный Санта отправил вам сообщение! ✉️\n\n{message}
TEXT_MESSAGE_FROM_RECIPIENT=Ваш подопечный отправил вам сообщение! ✉️\n\n{message}
TEXT_MESSAGE_SENT_SUCCESS=Сообщение было успешно отправлено🪄

TEXT_CANCEL=Действие отменено 🤐❌
